# Importing The Libraries

In [2]:
import warnings
warnings.filterwarnings('ignore')

## Basic Packages FOr Data Preprocessing
#FOR Data Manipulation
import pandas as pd
import numpy as np

#FOR Visualization
import matplotlib.pyplot as plt
import seaborn as sns

#Modeling Packages
from sklearn.model_selection import train_test_split #for spliting The data
from sklearn.preprocessing import StandardScaler #for Normalization
from sklearn.linear_model import LinearRegression #for The Model we need for regression
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error #for Evaluation

# Step 1 - Gathering The Data

In [3]:
df = pd.read_csv("/kaggle/input/students-exam-scores/Expanded_data_with_more_features.csv")

# Step 2 - Data Prepration

## Info Of Data

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30641 entries, 0 to 30640
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           30641 non-null  int64
 1   Gender               30641 non-null  object
 2   EthnicGroup          28801 non-null  object
 3   ParentEduc           28796 non-null  object
 4   LunchType            30641 non-null  object
 5   TestPrep             28811 non-null  object
 6   ParentMaritalStatus  29451 non-null  object
 7   PracticeSport        30010 non-null  object
 8   IsFirstChild         29737 non-null  object
 9   NrSiblings           29069 non-null  float64
 10  TransportMeans       27507 non-null  object
 11  WklyStudyHours       29686 non-null  object
 12  MathScore            30641 non-null  int64
 13  ReadingScore         30641 non-null  int64
 14  WritingScore         30641 non-null  int64
dtypes: float64(1), int64(4), object(10)
memory usage: 3.5+ MB

## Stats Info

In [5]:
df.describe(include='object')

,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,TransportMeans,WklyStudyHours
count,30641,28801,28796,30641,28811,29451,30010,29737,27507,29686
unique,2,5,6,2,2,4,3,2,2,3
top,female,group C,some college,standard,none,married,sometimes,yes,school_bus,5 - 10
freq,15424,9212,6633,19905,18856,16844,15213,19082,16145,16246

## Counts Of Values in My Cols

In [6]:
df.columns

Index(['Unnamed: 0', 'Gender', 'EthnicGroup', 'ParentEduc', 'LunchType',
       'TestPrep', 'ParentMaritalStatus', 'PracticeSport', 'IsFirstChild',
       'NrSiblings', 'TransportMeans', 'WklyStudyHours', 'MathScore',
       'ReadingScore', 'WritingScore'],
      dtype='object')

In [30]:
columns = ['Gender', 'EthnicGroup', 'ParentEduc', 'LunchType',
       'TestPrep', 'ParentMaritalStatus', 'PracticeSport', 'IsFirstChild',
        'TransportMeans', 'WklyStudyHours']

In [31]:
for i in columns:
    print(f'THe Feature of {i} : \n{df[i].value_counts()}\n\n')

THe Feature of Gender :
female    15138
male      14912
Name: Gender, dtype: int64


THe Feature of EthnicGroup :
group C    10843
group D     7368
group B     5724
group E     3944
group A     2171
Name: EthnicGroup, dtype: int64


THe Feature of ParentEduc :
some college          8326
high school           5586
associate's degree    5451
some high school      5405
bachelor's degree     3306
master's degree       1976
Name: ParentEduc, dtype: int64


THe Feature of LunchType :
standard        19533
free/reduced    10517
Name: LunchType, dtype: int64


THe Feature of TestPrep :
none         20277
completed     9773
Name: TestPrep, dtype: int64


THe Feature of ParentMaritalStatus :
married     18034
single       7097
divorced     4919
Name: ParentMaritalStatus, dtype: int64


THe Feature of PracticeSport :
sometimes    15544
regularly    10589
never         3917
Name: PracticeSport, dtype: int64


THe Feature of IsFirstChild :
yes    19585
no     10465
Name: IsFirstChild, dtype: int64


THe Feature of TransportMeans :
school_bus    18905
private       11145
Name: TransportMeans, dtype: int64


THe Feature of WklyStudyHours :
5 - 10    16863
< 5        8079
> 10       5108
Name: WklyStudyHours, dtype: int64

## Check Nulls

In [32]:
df.isna().sum()

Gender                 0
EthnicGroup            0
ParentEduc             0
LunchType              0
TestPrep               0
ParentMaritalStatus    0
PracticeSport          0
IsFirstChild           0
TransportMeans         0
WklyStudyHours         0
MathScore              0
ReadingScore           0
WritingScore           0
dtype: int64

# Step 3 - Data Wrangling

## Handle Outlaiers

In [33]:
for i in columns:
    print(f'THe Feature of {i} : \n{df[i].value_counts()}\n\n')

THe Feature of Gender :
female    15138
male      14912
Name: Gender, dtype: int64


THe Feature of EthnicGroup :
group C    10843
group D     7368
group B     5724
group E     3944
group A     2171
Name: EthnicGroup, dtype: int64


THe Feature of ParentEduc :
some college          8326
high school           5586
associate's degree    5451
some high school      5405
bachelor's degree     3306
master's degree       1976
Name: ParentEduc, dtype: int64


THe Feature of LunchType :
standard        19533
free/reduced    10517
Name: LunchType, dtype: int64


THe Feature of TestPrep :
none         20277
completed     9773
Name: TestPrep, dtype: int64


THe Feature of ParentMaritalStatus :
married     18034
single       7097
divorced     4919
Name: ParentMaritalStatus, dtype: int64


THe Feature of PracticeSport :
sometimes    15544
regularly    10589
never         3917
Name: PracticeSport, dtype: int64


THe Feature of IsFirstChild :
yes    19585
no     10465
Name: IsFirstChild, dtype: int64


THe Feature of TransportMeans :
school_bus    18905
private       11145
Name: TransportMeans, dtype: int64


THe Feature of WklyStudyHours :
5 - 10    16863
< 5        8079
> 10       5108
Name: WklyStudyHours, dtype: int64

In [14]:
df= df[df['ParentMaritalStatus'] != "widowed"]

In [13]:
df.drop(columns=['Unnamed: 0', 'NrSiblings'], inplace= True)

### Handle Nulls

In [16]:
# Checking null values
print(df.isnull().sum())

Gender                    0
EthnicGroup            1809
ParentEduc             1813
LunchType                 0
TestPrep               1789
ParentMaritalStatus    1190
PracticeSport           618
IsFirstChild            882
TransportMeans         3066
WklyStudyHours          936
MathScore                 0
ReadingScore              0
WritingScore              0
dtype: int64

In [25]:
df['EthnicGroup'].fillna(df['EthnicGroup'].mode()[0], inplace=True)
df['ParentEduc'].fillna(df['ParentEduc'].mode()[0], inplace=True)

df['TestPrep'].fillna(df['TestPrep'].mode()[0], inplace=True)
df['ParentMaritalStatus'].fillna(df['ParentMaritalStatus'].mode()[0], inplace=True)

df['PracticeSport'].fillna(df['PracticeSport'].mode()[0], inplace=True)
df['IsFirstChild'].fillna(df['IsFirstChild'].mode()[0], inplace=True)

df['TransportMeans'].fillna(df['TransportMeans'].mode()[0], inplace=True)
df['WklyStudyHours'].fillna(df['WklyStudyHours'].mode()[0], inplace=True)

In [26]:
df.sample(3)

,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
9172,female,group C,associate's degree,standard,none,single,regularly,yes,private,> 10,92,94,100
14450,female,group E,associate's degree,standard,none,single,regularly,yes,private,5 - 10,80,83,82
12503,female,group E,some college,standard,none,married,regularly,yes,school_bus,5 - 10,57,57,56

In [27]:
# Checking null values
print(df.isnull().sum())

Gender                 0
EthnicGroup            0
ParentEduc             0
LunchType              0
TestPrep               0
ParentMaritalStatus    0
PracticeSport          0
IsFirstChild           0
TransportMeans         0
WklyStudyHours         0
MathScore              0
ReadingScore           0
WritingScore           0
dtype: int64

### Handle Object Features (Encoding)

In [34]:
columns = ['Gender', 'EthnicGroup', 'ParentEduc', 'LunchType',
       'TestPrep', 'ParentMaritalStatus', 'PracticeSport', 'IsFirstChild',
        'TransportMeans', 'WklyStudyHours']

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30050 entries, 0 to 30640
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Gender               30050 non-null  object
 1   EthnicGroup          30050 non-null  object
 2   ParentEduc           30050 non-null  object
 3   LunchType            30050 non-null  object
 4   TestPrep             30050 non-null  object
 5   ParentMaritalStatus  30050 non-null  object
 6   PracticeSport        30050 non-null  object
 7   IsFirstChild         30050 non-null  object
 8   TransportMeans       30050 non-null  object
 9   WklyStudyHours       30050 non-null  object
 10  MathScore            30050 non-null  int64
 11  ReadingScore         30050 non-null  int64
 12  WritingScore         30050 non-null  int64
dtypes: int64(3), object(10)
memory usage: 3.2+ MB

In [40]:
for i in columns:
    df[i], _ =  pd.factorize(df[i])

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30050 entries, 0 to 30640
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Gender               30050 non-null  int64
 1   EthnicGroup          30050 non-null  int64
 2   ParentEduc           30050 non-null  int64
 3   LunchType            30050 non-null  int64
 4   TestPrep             30050 non-null  int64
 5   ParentMaritalStatus  30050 non-null  int64
 6   PracticeSport        30050 non-null  int64
 7   IsFirstChild         30050 non-null  int64
 8   TransportMeans       30050 non-null  int64
 9   WklyStudyHours       30050 non-null  int64
 10  MathScore            30050 non-null  int64
 11  ReadingScore         30050 non-null  int64
 12  WritingScore         30050 non-null  int64
dtypes: int64(13)
memory usage: 3.2 MB

In [43]:
df.sample(5)

,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
13111,0,0,5,0,0,0,2,0,0,1,78,81,77
21386,1,1,3,1,0,1,0,0,0,0,42,37,36
29364,1,0,3,0,0,0,1,1,1,0,79,83,81
16589,0,3,4,0,0,1,1,0,0,1,54,70,71
3221,0,3,2,0,1,0,0,0,1,0,88,98,100

### Final DATA

In [62]:
# Standardization
scaler = StandardScaler()

In [63]:
X_writing = df.drop(columns= 'WritingScore')
X_writing = scaler.fit_transform(X_writing)

X_reading = df.drop(columns= 'ReadingScore')
X_reading = scaler.fit_transform(X_reading)

X_math = df.drop(columns= 'MathScore')
X_math = scaler.fit_transform(X_math)

y_writing = df['WritingScore']
y_reading = df['ReadingScore']
y_math = df['MathScore']

# Step 4 - Modeling

### Model Of Writing

#### Split The Data

In [64]:
X_train_w, X_test_w, y_train_w, y_test_w = train_test_split (
    X_writing, y_writing,
    test_size= 0.2,
    shuffle = True
)

#### Training The Models

In [65]:
Model_1_Of_Writting = LinearRegression()

In [66]:
Model_1_Of_Writting.fit(X_train_w, y_train_w)

LinearRegression()

#### Evaluate The Models

##### For Train Phase

In [67]:
# Make predictions
t_y_pred_w = Model_1_Of_Writting.predict(X_train_w)

# Evaluate metrics
t_r2_w = r2_score(y_train_w, t_y_pred_w)
t_mse_w = mean_squared_error(y_train_w, t_y_pred_w)
t_mae_w = mean_absolute_error(y_train_w, t_y_pred_w)

print("Model Evaluation Metrics:")
print(f"R² Score: {round(t_r2_w, 4) *100} %")
print(f"Mean Squared Error: {t_mse_w:.4f}")
print(f"Mean Absolute Error: {t_mae_w:.4f}")

Model Evaluation Metrics:
R² Score: 93.91000000000001 %
Mean Squared Error: 14.5411
Mean Absolute Error: 3.0421

##### For Test Phase

In [68]:
# Make predictions
y_pred_w = Model_1_Of_Writting.predict(X_test_w)

# Evaluate metrics
r2_w = r2_score(y_test_w, y_pred_w)
mse_w = mean_squared_error(y_test_w, y_pred_w)
mae_w = mean_absolute_error(y_test_w, y_pred_w)

print("Model Evaluation Metrics:")
print(f"R² Score: {round(r2_w, 4) *100} %")
print(f"Mean Squared Error: {mse_w:.4f}")
print(f"Mean Absolute Error: {mae_w:.4f}")

Model Evaluation Metrics:
R² Score: 93.88 %
Mean Squared Error: 14.4763
Mean Absolute Error: 3.0380

### Saving The Model

In [70]:
import pickle

with open('Model_1_Of_Writting.pkl', 'wb') as file:
    pickle.dump(Model_1_Of_Writting, file)

print("Model saved as 'Model_1_Of_Writting.pkl'")

Model saved as 'Model_1_Of_Writting.pkl'

***

<BR>
    
    
<div style="text-align: center;">
   <span style="font-size: 4.5em; font-weight: bold; font-family: Arial;">THANK YOU!</span>
</div>

<div style="text-align: center;">
    <span style="font-size: 5em;">✔️</span>
</div>

<br>

<div style="text-align: center;">
   <span style="font-size: 1.4em; font-weight: bold; font-family: Arial; max-width:1200px; display: inline-block;">
       If this notebook has sparked joy or enlightenment within you, your affirmative upvotes would be a profound gift. Each show of support fuels my passion for tirelessly refining and elevating its content for your benefit.
   </span>
</div>

<br>

<br>

<div style="text-align: center;">
   <span style="font-size: 1.2em; font-weight: bold;font-family: Arial;">@pannmie</span>
</div>